body{
  background-color: #cccccc;
}

.main{
  height: auto;
}

.shopLink{
  color: blue;
  width: border-box;
  text-align: left;
  margin: 10px;
  border: 1px solid blue;
  border-radius: 7px;
  padding: 5px;
  font-weight: bold;
}

.shopLink:visited{
  color: blue;
  width: border-box;
  text-align: left;
  margin: 10px;
  border: 1px solid blue;
  border-radius: 7px;
  padding: 5px;
  font-weight: bold;
}

.shopLink:hover{
  font-size: 25px;
  width: border-box;
  text-align: left;
  margin: 10px;
  border: 1px solid blue;
  border-radius: 7px;
  padding: 5px;
  font-weight: bold;
}

.shopLink:active{
  width: border-box;
  text-align: left;
  margin: 10px;
  border: 4px solid blue;
  border-radius: 7px;
  padding: 5px;
  font-weight: bold;
}

.title{
  text-align: center;
  width: 500px ;
  text-align: center;
  font-size: 40px;
  align-self: center;
  padding-top: 10px;
  border-bottom: 4px black solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  font-family: David;
}

.input{
  text-align: center;

  initial-letter-align: initial;
  margin: 5px;
  font-family: David;
  font-size: 25px;
  border: 2px solid;
  border-radius: 7px;
}

.button{
  text-align: center;

  background-color: blue;
  color: white;
  font-size:20px;
  border-radius: 10px;
  font-family: "Arial Narrow";
}

.App {
  text-align: center;
}

.homePageSale{
  text-align: center;
}

.showError{
  text-align: center;
  margin:20px;
}

.componentTitle{
  text-align: center;
  text-align: left;
  font-size: 30px;
  border: black;
  border-bottom: 2px solid;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.shopName{
  margin-right: auto;
  margin-left: auto;
  text-align: right;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 2px black;
  border-bottom: double;
}

.saleGreen{
  text-align: center;
  background-color: white;
  color: green;
  margin: 10px;
  border: 3px solid green;
  border-radius: 15px;
  padding: 5px;
}

.saleRed{
  text-align: center;
  background-color: white;
  color: red;
  margin: 10px;
  border: 3px solid red;
  border-radius: 15px;
  padding: 5px;
}

.sale{
  text-align: center;
  background-color: white;
  margin: 10px;
  border: 3px solid blue;
  border-radius: 15px;
  padding: 5px;
}

.saleTitles{
  text-align: center;
  font-weight: bold;
}

.organizations{
  text-align: center;
  font-size: 25px;
  font-family: Aharoni;
}

.organization{
  font-size: 15px;
}

.saleDescription{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-weight: bold;
}

.navigationBar{
  width: 230px;
  height: 300px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  border-right: 2px solid;
  padding-right: 20px;
  margin-top: 50px;
}

.navigationLink{
  width:inherit;
  text-align: center;
  border: 2px black solid;
  margin: 15px;
  color:blue;
  background-color: beige;
  font-size: 18px;
  font-weight: bold;
  padding: 3px;
  border-radius: 10px;
}

.navigationLink:hover{
  width:inherit;
  text-align: center;
  border: 2px black solid;
  margin: 15px;
  color:blue;
  background-color: beige;
  font-size: 25px;
  font-weight: bold;
  padding: 3px;
  border-radius: 10px;
}

.logoutLink{
  text-align: center;
  border: 2px black solid;
  margin: 40px;
  color:red;
  background-color: beige;
  font-size: 15px;
  font-weight: bold;
  padding: 3px;
  border-radius: 7px;
  text-align: left;
}

.logoutLink:hover{
  text-align: center;
  border: 2px black solid;
  margin-top: 15px;
  color:red;
  background-color: beige;
  font-size: 20px;
  font-weight: bold;
  padding: 3px;
  border-radius: 0px;
  text-align: left;
}

.searchTitle{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 2px black inset;
}

.searchBar{
  text-align: center;
  font-size: 30px;
  font-weight: initial;
  margin-bottom: 20px;
}

.loginAndSignIn{
  text-align: center;
}













.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.shop{
  background-color: aliceblue;
  align-items: center;
  width: max-content;
  border-width:2px;
  padding:1px 5px;
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.green{
  font-family: "Zilla Slab SemiBold";
  color: green;
}


.red{
  font-family: "Zilla Slab SemiBold";
  color: red;
}


--Google

.body{
  font-family: Arial, Helvetica, sans-serif;
}
.form{border: 3px solid #f1f1f1;}

.input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.submit{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}