.title{
  font-size: 40px;
  border-bottom: 2px solid;
}

.button{
  font-size:20px;
  color: aqua;
  background-color: green;
  border-radius: 10px;
}

body{
  text-align: center;
}

.componentTitle{
  text-align: left;
  font-size: 30px;
  border: black;
  border-bottom: 2px solid;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.shopName{
  font-size: 25px;
  font-weight: bold;
  border-bottom: 2px black;
  border-bottom: double;
}

.saleGreen{
  color: green;
  margin: 10px;
  border: 3px solid green;
  border-radius: 15px;
  padding: 5px;
}

.saleRed{
  color: red;
  margin: 10px;
  border: 3px solid red;
  border-radius: 15px;
  padding: 5px;
}

.sale{
  margin: 10px;
  border: 3px solid blue;
  border-radius: 15px;
  padding: 5px;
}

.saleTitles{
  font-weight: bold;
}

.saleDescription{
  font-size: 20px;
  font-weight: bold;
  font-weight: bold;
}

.shopLink{
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navigationBar{
  margin-right: 20px;
  margin-left: 20px;
  border-right: 2px solid;
  padding-right: 20px;
  margin-top: 50px;
}

.navigationLink{
  border: 2px black solid;
  margin: 15px;
  color:blue;
  background-color: beige;
  font-size: 18px;
  font-weight: bold;
  padding: 3px;
  border-radius: 10px;
}

.logoutLink{
  border: 2px black solid;
  margin-top: 15px;
  color:red;
  background-color: beige;
  font-size: 15px;
  font-weight: bold;
  padding: 3px;
  border-radius: 0px;
  text-align: left;
}

.searchTitle{
  font-size: 25px;
  font-weight: bold;
  border-bottom: 2px black inset;
}

.searchBar{
  font-size: 25px;
  font-weight: initial;
}














.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.shop{
  background-color: aliceblue;
  align-items: center;
  width: max-content;
  border-width:2px;
  padding:1px 5px;
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.green{
  font-family: "Zilla Slab SemiBold";
  color: green;
}


.red{
  font-family: "Zilla Slab SemiBold";
  color: red;
}